header {
    width: 1000px;
    height: 100px;
    position: relative;
    border: 2px solid #000;
}
.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100px;
    background-color: greenyellow;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
}
nav {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}
nav > ul {
    display: flex;
    justify-content: space-between;
}
nav > ul > li {
    padding: 0 20px;
}
nav > ul > li:last-child {
    padding: 0 0 0 20px;
}
nav > .nav_sub1{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(4, 255, 0);
}
nav > .nav_sub2{
    position: absolute;
    right: 0;
    top: 79px;
    background-color: rgb(4, 255, 0);

}